:root {
  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-light-grayish-blue);
  font: 13px Manrope, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: calc(100% - 30px);
  max-width: 1200px;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card-img > img {
  height: 250px;
  width: 250px;
}

.card-details {
  display: flex;
  flex-direction: row;
}
.card-avatar > img {
  height: 40px;
  border-radius: 50%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
